@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box ;
    margin : 0 ;
    border : 0 ;



}


body {
    height: 100vh ;
    display: flex ; 
    background-color: white ;
    align-items: center;
    justify-content: center;
    background-image:url("valorant.jpg") ; 
    background-repeat: no-repeat ;
    background-size: cover ;


}

.image {
    position: relative; 
    height : 150px ;
    width: 150px;
    border-radius: 50%;
    background-color: aqua ; 
    padding : 4px  ;
    margin : 10px ;

}

.image .misty-img {
    height: 100%;
    width: 100%;
    object-fit: cover ;
    border-radius: 50%;
    border : 5px solid #fff ;

    
}



.profile {
    max-width: 400px ;
    background : rgb(250,240,230) ;
    width : 100% ;
    height: 320px ;  
    border-radius: 30px ;
    display : flex ; 
    flex-direction: column ;
    align-items:center ;

}


.profile .name {
    font-size: 19px;
    display : flex ; 
    flex-direction: column;
    align-items: center;
}

.name .namer {
    font-weight: bold ;
    font-size: 24px;

}

.name .IT {
    font-size : 18px ;
    margin-bottom: 8px;
    font-weight:bold;
    color :  black ; 
}


.profile .link {
    margin : 0 8px ;
    height: 30px ;
    width: 27px ;
    border-radius: 100% ;
    background-color: aqua;


    
}

.profile .social {
    display : flex ;
    flex-direction: row   ;
    justify-content: space-between ;
    align-items: flex-start ;
    font-size : 24px  ;
    
    

}

.profile .social:hover {
    color : red ;
    transition : translate(10px,10px) ; 
}
